@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');
@import url('cabecalho.css');
@import url('apresentacao.css');
@import url('style_about.css');
@import url('rodape.css');
@import url('projetos.css');

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-de-fundo: #000000;
  --branco: #f6f6f6;
  --rosa: #ff0f35;
  --rosa-secundario: #f86254;
  --fonte-primeira: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  color: var(--branco);
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
  padding: 5% 15%;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: justify;
}

.apresentacao__conteudo__titulo {
  font-size: 1.75rem;
  font-family: var(--fonte-primeira);
}

.apresentacao__conteudo__texto {
  font-size: 1.25rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.apresentacao__links_subtitulo {
  font-family: var(--fonte-primeira);
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}

.apresentacao__links__navegacao {
  /* background: #fc4c4e; */
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #ff0f35;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
  background-color: #272727;
}

.foto__perfil {
  object-fit: cover;
  width: 35%;
}
